/****about****/

.about
{	
	margin:0px;
	padding:0px;
	overflow:auto;
}


#box1
{
	width:65%;
	margin-right:10px;
	float:left;
}

/*#box2
{
	background-color:black;
	border:2px solid white;
	border-radius:5px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	color:white;
	width:35%;
	padding:15px;
	margin:10px;
	margin-left:0px;
	float:right;
	
}*/


#box3
{
	background-color:black;
	border:2px solid white;
	border-radius:5px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	color:white;
	width:30%;
	padding:15px;
	float:right;
	margin-top:20px;
	margin-bottom:15px;
}


#box1 p.black
{
	background-color:black;
	border:2px solid white;
	border-radius:5px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	color:white;
	padding:15px;
	margin-top:10px;
}


@media(max-width:600px)
{
	#box1
	{
		float:none;
		margin:10px auto;
	}
	
	#box3
	{
		float:none;
		margin:10px auto;
		width:60%;
	}
}